/* .right .dotted-data-value {
    /* direction: rtl; */
    /* text-align: right; */
    /* left: 2px; */
/* } */ 

.dotted-data-container {
    display: flex;
}

.dotted-data-separator {
    flex: 1;
    border-bottom: 1px dashed; /* style as necessary */
    position: relative;
    top: -4px;
    left:-3px;
    /* right:-20px;  */
    /* reposition as necessary */
}
